
{% extends "homelink/base.html" %}

{% block content %}

<h3>Search_Ensembl</h3>
<form method="POST" class="form-horizontal" role='form' action="{% url 'homelink:search_result' %}">
  {% csrf_token %}
  {{ form.as_p }}
   <div class="form-group">
       <div class="col-md-12">
  <button type="submit" class="btn btn-primary form-control">SEARCH</button>
       </div>
   </div>
</form>

{% if page_obj %}
<h3>database information</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>name</th>
			<th>type</th>
        </tr>
    </thead>
    <tbody>
     {% for house in page_obj %}
        <tr>
            <td>
            {{ house.dbname }}
            </td>
            <td>
            {{ house.dbtype }}
            </td>
     {% endfor %}
        </tr>
    </tbody>
</table>

{% else %}



{% endif %}



{% if is_paginated %}
     <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">Previous</span></li>
    {% endif %}

    {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
      <li class="page-item active"><span class="page-link"> {{ i }} <span class="sr-only">(current)</span></span></li>
       {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
       {% endif %}
    {% endfor %}

         {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">Next</span></li>
    {% endif %}
    </ul>

{% endif %}

{% endblock %}